{% extends 'component/base.html' %}

{% block title %} Edit Post  {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<section>
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="bg-light p-3">
          <div>
            <h3>Edit Post</h3>
            <hr class="my-4">
          </div>

          <form method="POST">{% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
          <input type="submit" value="Save Changes" class="btn btn-primary mt-3">
          </form>
          <hr class="mt-4">
        </div>
      </div>
    </div>
  </section>

{% endblock %}