{% extends 'component/base.html' %}
{% load static %}

{% block title %} Edit Profile Page  {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<section class="my-4">
    <div class="row">
        <div class="col md-4"></div>
        <div class="col-md-8">
            <div class="card text-dark">
                <div class="card-header bg-info">Edit Profile Page</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4">Edit Staff Info</span>
                            <hr>
                            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                {{ u_form|crispy }}
                                {{ p_form|crispy }}
                                <input type="submit" class="btn btn-primary mt-3">
                            </form>
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail"
                                 src="{{ user.profilemodel.image.url }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}