{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<section>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="bg-white p-3">
                <h3>Reset Password</h3>
                <hr>
                <div class="alert alert-info">
                    Your password reset is Successful and you can now log in with new ppassword
                </div>
                <a href="{% url 'login' %}">Log In</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

