{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<section>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="bg-white p-3">
                <h3>Reset Password</h3>
                <hr>
                <div class="alert alert-info">
                    Enter Email and Instruction will be sent to your email to reset password
                </div>
                <form method="POST" action="">{% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Reset Password" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

